* {
  margin: 0;
  font-family: 'Work Sans';
}


/* Banner design */

.header {

  background-image: url(images/banner/banner3.png);
  background-repeat: no-repeat;
  width: 1520px;
  height: 808px;
  margin-bottom: 10px;

}

.banner {

  text-align: right;
  position: absolute;
  width: 525px;
  height: 228px;
  left: 845px;
  top: 216px;


}

.primary-btn {
  color: #005FAC;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 20px;
  border: 2px;
  border-radius: 5px;

}

.title {
  color: white;
  font-weight: 700;
  font-size: 65px;
}

.text {
  color: white;
  margin-top: 24px;
  margin-bottom: 32px;
}


/* My failure in the previous year styles */


main {

  padding: 100px 150px;
  text-align: center;

}

.main-failure {
  display: flex;
}

.sub-failure {
  text-align: left;
  padding: 300px 100px 70px 70px;
}

.primary-title {
  height: 100px;
  width: 300px;
  font-weight: 700;
  font-size: 35px;
  color: #151414;
}

.failure-description {
  height: 100px;
  width: 400px;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}

.failure-keynotes {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 8px;
}

li:before {
  content: '✓ ';
  color: chartreuse
}


/*my planes*/


.my-planes {

  padding-top: 100px;
  padding-bottom: 50px;
}

.plan-title {
  font-weight: 700;
  font-size: 35px;
  color: #151414;
  padding-bottom: 50px;
}

.plan-container {
  display: flex;
  gap: 86px;
}

.plan {
  justify-content: space-around;

}

.plan-sub-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  padding: 24px;
  color: #151414;
}

.plan-description {

  color: #444343;
  font-weight: 500;
  font-size: 25px;
}

/*positive-mindset*/